
@use 'variables' as vars;


.navbar-toggler{
    color: vars.$color2 !important;

    &:hover{
        color: vars.$color3 !important;
    }

}

.navbar.navbar-dark.bg-dark.fixed-top{
    z-index: 9999;
}

.nav-link{
    font-size: vars.$font-size4;

}



/* Responsive */
/*pc */
@media (min-width: 900px) {
.navbar-brand{
    font-size: vars.$font-size4;;
}
#NavbarLabel{
    font-size:vars.$font-size4plus;
}

.offcanvas-body{
    ul>li{
        .nav-link{
            font-size: vars.$font-size4;
        }
    }
}

button{
    transform: scale(1.4);
}

}
