
$color1:#fff;
$color2:rgb(37, 33, 33);
$color3:#56d388;
$color4:#dadada;
$color5:#aaa8a8;
$color6:#326647;

$font1:Georgia,'Times New Roman',Times,serif;
$font2:Verdana,Geneva,Tahoma,sans-serif;
$font-size1:55px;
$font-size2:50px;
$font-size3: 40px;
$font-size4: 30px;
$font-size4plus: 35px;
$font-size5: 25px;
$font-size6: 20px;

$font-size11:11px;

